<%- include('bootheader') -%>
<%- include('menubar') -%>

<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

    <div class="jumbotron">
        <h1>Podcasts</h1>
        <br>
        <br>
        <br>
        <p>Find all podcasts recorded!</p>
    </div>

    <div   border: 10px>
      <table style="width:100%">
        <tr>
          <th>Episode title</th>
          <th>Date Recorded</th>
          <th>Length</th>
        </tr>
        <tr>
          <td>Jill</td>
          <td>Smith</td>
          <td>50</td>
        </tr>

      </table>
    </div>

<%- include('bootfooter') -%>
