<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Podcasts</h1>
        <br>
        <br>
        <br>
      
        <p>Find all podcasts recorded!</p>
    </div>
<%- include('bootfooter') -%>
