<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/Developers.jpg">
      </div>
      <div class="body">
        <br>
        <p>For anyone who would like to work on the project,
           please view the requirements below. If you meet
           these requirements, please fill out the form below.</p>
<ul>
<li>HTML</li>
<li>CSS</li>
<li>Javascript (ejs)</li>
<li>Github (will need to create account)</li>
<li>Terminal/Linux</li>
<li>Mongo</li>
<br>
</ul>
</div>
<iframe src="https://docs.google.com/forms/d/e/1FAIpQLScncgiTr2CNPoKOyIvB6_Ku49fDlWVVLn86KicDnr5rbKHoYw/viewform?embedded=true" width="100%" height="600" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>

<br>
<br>
<br>



<%- include('bootfooter') -%>
