<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep10/ep10.png" width="100%" height="auto">
      </div>

        <h1>Episode 10 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Fred-Gressler-Invitational-efs83i" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Results from Gressler
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://ny.milesplit.com/meets/326099/results/610905/formatted#.XvJf6ZNKiRE" target="_blank"> The Muddy Gressler (Rina's Freshman Year)</a><br><br>
<a href="https://ny.milesplit.com/meets/364914/results/670258/formatted#.XvJfwJNKiRE" target="_blank"> Sophie's First Gressler! </a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Old Gressler Course
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">
<div style="overflow:hidden;position:relative;">

  <div style="position:relative;width:80%;padding-top:56.25%;overflow:visible;"/>
  <iframe name="plotaroute_map_1180265" src="https://www.plotaroute.com/embedmap/1180265?units=km" style="position:absolute;top:0;left:0;bottom:0;right:0;width:80%; height:100%;" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

</div>

<p style="margin-top:8px;font-family:Arial Narrow ,Arial Narrow,arial;font-size:11px;">Route map for <a href="https://www.plotaroute.com/route/1180265?units=km" target="_blank" title="View this route map on plotaroute.com">Old Gressler</a> by <a href="https://www.plotaroute.com/userprofile/303357" target="_blank" title="View this person's profile on plotaroute.com">Rina Stanghellini</a> on <a href="https://www.plotaroute.com" target="_blank" title="plotaroute.com - free route planner for walking, running, cycling and more" >plotaroute.com </a></p></div>    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingThree">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Current Gressler Course
      </button>
    </h5>
  </div>
  <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
    <div class="card-body">
      <p> Click play, then click Directions under Menu to see insider commentary on the Gressler course! You can also view information about the hills, and calculate how long it would take you to run it!</p>
  <div style="overflow:hidden;position:relative;"><div style="position:relative;width:80%;padding-top:56.25%;overflow:visible;"/><iframe name="plotaroute_map_1180273" src="https://www.plotaroute.com/embedmap/1180273?units=km" style="position:absolute;top:0;left:0;bottom:0;right:0;width:80%; height:100%;" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></div><p style="margin-top:8px;font-family:Arial Narrow, Arial,Helvetica,arial;font-size:11px;"> Route map for <a href="https://www.plotaroute.com/route/1180273?units=km" target="_blank" title="View this route map on plotaroute.com">Gressler</a> by <a href="https://www.plotaroute.com/userprofile/303357" target="_blank" title="View this person's profile on plotaroute.com">Rina Stanghellini</a> on <a href="https://www.plotaroute.com" target="_blank" title="plotaroute.com - free route planner for walking, running, cycling and more">plotaroute.com</a></p></div>    </div>
  </div>


<div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Pictures (Professional from the News Coverage)
      </button>
    </h5>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
    <a href="https://www.lohud.com/picture-gallery/sports/high-school/xcountry/2018/09/29/fred-gressler-cross-country-run/1471240002/" target="_blank"> Lohud 2018 Photos: Fred Gressler Cross-Country Run </a><br><br>
    <a href="https://www.lohud.com/picture-gallery/sports/2019/09/28/fred-gressler-run/3808757002/" target="_blank">Lohud 2019 Fred Gressler Run at WPHS</a>
</div>
</div>
</div>


<div class="card">
  <div class="card-header" id="headingsix">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
      Start of the 2019 race Girls Varsity (Rina & Sophie)
      </button>
    </h5>
  </div>
  <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
    <div class="card-body">
<iframe width="90%" height="315" src="https://www.youtube.com/embed/wlh2vSGvG1E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>  </div>
</div>
</div>


<div class="card">
  <div class="card-header" id="headingseven">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
    Rina's Personal Pictures
      </button>
    </h5>
  </div>
  <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
    <div class="card-body">
<img src="/images/ep10/run.png"><br><br>
<img src="/images/ep10/running.png"><br><br>
<img src="/images/ep10/Shoe.png"><br>This is how we kept our shoes on in 2018! We saw so many people losing their shoes we decided to make sure we didn't lose ours. It worked for us!<br>
<img src="/images/ep10/start.png"><br><br>
<img src="/images/ep10/tag.png"><br><br>
<img src="/images/ep10/twitter.png"><br>This picture went up on the WPHS Athletics Twitter cover page! We were so happy! <br>
<img src="/images/ep10/wall.png"><br>I was always to focused on not slipping that I never truly got to appreciate this sign.<br>
  </div>
  </div>
</div>


<br>
<br>

<%- include('bootfooter') -%>
