<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep11/ep11.png" width="100%" height="auto">
      </div>

        <h1>Episode 11 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Coachs-Corner-Coach-Hidalgo-eg1089" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br><br> In this episode, learn more about Coach Hidalgo as a WP Tiger athlete! She shares her experiences as an athlete, thrower, runner, coach, and teacher!<br><br><%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Pictures
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        <br>
        Both of these pictures were taken in 2009 (Coach Hidalgo's senior year)!
<img src="/images/ep11/yearbook.png" width="50%" height="auto"> <br><img src="/images/ep11/des.png"> <br> Coach Hidalgo is the fourth from the left in the first row!
<br><br><img src="/images/ep11/torch.png" width="50%" height="auto"> <br>Coach Hidalgo is the athlete second from the right!
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
Running Profiles    </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body">

<a href="https://ny.milesplit.com/athletes/pro/586217/stats" target="_blank"> Milesplit </a><br><br>
<a href="https://www.athletic.net/TrackAndField/Athlete.aspx?AID=7233676" target="_blank"> Athletic.net</a>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingFour">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Yearbook
      </button>
    </h5>
  </div>
  <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
    <div class="card-body">
    <a href="https://www.classmates.com/yearbooks/White-Plains-High-School/4182833787?page=0" target="_blank"> 2009 (Senior Yearbook)</a> (Use the search feature to find Coach Hidalgo!)<br><br>
    View Coach Hidalgo's senior picture and quote and the clubs she participated in!<br><br>
    <img src="/images/ep11/outdoor.png" width="50%" height="auto"> Outdoor Track 2009
</div>


</div>
</div>


<br>
<br>

<%- include('bootfooter') -%>
