<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep13.png" width="100%" height="auto">
      </div>

        <h1>Episode 13 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Rinas-Run-Around-Get-to-Know-Me-egc3hl/a-a2kpdvd" height="200x" width="100%" frameborder="0" scrolling="no"></iframe> <br> <br> In this episode, Abigail Roman returns now as the host! Learn more about Rina with Abby's thought-provoking questions! Delve deep into college recruiting, nutrition, and racing. Find out the answer to this riddle at the end of the episode: Why do runners have so many miles on their shoes? <br><br><%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
    Rina Stanghellini 8th Grade Port Chester Results
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://ny.milesplit.com/meets/288556/results/555319/raw#.XwxHPZNKiAI" target="_blank"> Port Chester Invitational</a><br>This was the meet where I ran into a branch and my hairtie came out!<br>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingTwo">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Rina Stanghellini and Abigail Roman
      </button>
    </h5>
  </div>
  <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
    <div class="card-body"> Picture Coming Soon!
<img src="/"
</div>
</div>
</div>
 </div>
  </div>
</div>
</div>

<br>
<br>

<%- include('bootfooter') -%>
