<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep14.png" width="100%" height="auto">
      </div>

        <h1>Episode 14 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embeded/episodes/Singudelo-and-Fitzleton-Relays---Part-1-egkav2/a-a2m8gcm" height="200x" width="100%" frameborder="0" scrolling="no"></iframe><br> <br> In this episode, Taylor and Rina discuss both Fitzleton Relays (previously known as the Singudelo Relays) at WPHS! This relay is run each season and is super fun to compete in! Join us next week to hear from Coach Sing and Coach Agudelo about how this meet started!
 <br><br><%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br>
<br>

<br>
<br>

<%- include('bootfooter') -%>
