<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>

    <div class="jumbotron">
    <img src="/images/ep1m.png">
      </div>

        <h1>Episode 2</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Mind-Over-Matter-eeb19a/a-a28h515" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>
<div class="redcirclePlayer-e5000870-901e-4a50-82d9-9a43493ecbf4"></div>

<p style="margin-top:3px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<p> Episode can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify.</a>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes "Upbeat Party." "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>

<br>
<br

<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Coach Sing's Yearbook 1970 Pictures
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <a href="https://www.classmates.com/siteui/yearbooks/198366">Mount Vernon High School 1970 Yearbook</a><br>
<img src="/images/sing.png"> <br> The caption reads, "Fred Singleton, record-setter in the hurdles"
<br><br>
<img src="/images/indoorsing.png"><br> The label for this picture is "Indoor Track"
<br><br>
<img src="/images/picsing.png"> This is Coach Sing's yearbook photo!
<br><br>
<img src="/images/varsing.png"> The label for the picture is "Varsity Letternman II."
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Highlands
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Highlands, or Highlands Middle School is for 7th and 8th grade students.
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Ridgway
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Ridgeway School is an elementary school.      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Bloomingdale Route
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <p> Click play, then click Directions under Menu to see insider commentary on the Bloomingdale run! You can also view information about the hills, and calculate how long it would take you to run it!</p> </div>
          <div style="overflow:hidden;position:relative;"><div style="position:relative;width:100%;padding-top:56.25%;overflow:visible;"/><iframe name="plotaroute_map_1132191" src="https://www.plotaroute.com/embedmap/1132191?units=mi" style="position:absolute;top:0;left:0;bottom:0;right:0;width:100%; height:80%;" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></div><p style="margin-top:8px;font-family:Helvetica Neue,Helvetica,arial;font-size:11px;">Route map for <a href="https://www.plotaroute.com/route/1132191?units=km" target="_blank" title="View this route map on plotaroute.com">Bloomingdales</a> by <a href="https://www.plotaroute.com/userprofile/303357" target="_blank" title="View this person's profile on plotaroute.com">Rina Stanghellini</a> on <a href="https://www.plotaroute.com" target="_blank" title="plotaroute.com - free route planner for walking, running, cycling and more">plotaroute.com</a></p></div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        Rina and Bella Picture
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        This is a picture of Rina and Bella after their first XC meet! Bella has given permission for this photo to be posted. <br> <br>
      <img src="/images/rinaandbella.PNG"> </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingsix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
        Rina's Notes
        </button>
      </h5>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
      <div class="card-body">
These are pictures of Rina's notes for the episode!  <br> <br>   <img src="/images/rinanotes.png"> </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingseven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
      Bella's Notes
        </button>
      </h5>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
      <div class="card-body">
These are pictures of Bella's notes for the episode! She has given permission for this photo to be on the website. <br> <br>   <img src="/images/bellanotes.png"> </div>
<br><br>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingeight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseseight">
      Bella's Encouraging Post-it Notes on the Lockers
        </button>
      </h5>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingseight" data-parent="#accordion">
      <div class="card-body">
<p>gdsf </p>

  </div>


<br>
<br>

<%- include('bootfooter') -%>
