<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

</style>

    <div class="jumbotron">
    <img src="/images/ep1m.png">
      </div>

        <h1>Episode 2</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Coachs-Corner-Coach-Singleton-eefp9f" height="102px" width="400px" frameborder="0" scrolling="no"></iframe>

<p style="margin-top:3px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<p> Episode can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify.</a>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes "Upbeat Party." "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>

<br>
<br

<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Coach Sing's Yearbook 1970 Pictures
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
      <a href="https://www.classmates.com/siteui/yearbooks/198366">Mount Vernon High School 1970 Yearbook </a> This yearbook was actually one of Coach's friends!<br><br>
<img src="/images/sing.png"> <br> The caption reads, "Fred Singleton, record-setter in the hurdles"
<br><br>
<img src="/images/indoorsing.png"><br> The label for this picture is "Indoor Track"
<br><br>
<img src="/images/picsing.png">
<img src="/images/descrising.png"> <br> This is Coach Sing's yearbook photo and description.
<br><br>
<img src="/images/varsing.png"> <br> The label for the picture is "Varsity Letternman II."
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Bill Collins
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Bill Collins ran the 200 in Coach's State Outdoor Meet SMR Team
        <img src="/images/collins.png">
        <br><br>
            <img src="/images/collinsco.png">
            <br><br>
                <img src="/images/collinsvar.png">
                <br><br>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Golden West Invitational Results
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      <a href="http://goldenwestinvitational.org/gwi-results-1960-1979/">Results</a>
<br><br> <img src="/images/results.png">
<br> <img src="/images/results1.png">
     </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          Coach Sing and Loucks!
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        <a href="https://www.nytimes.com/1970/05/10/archives/2-mount-vernon-runners-star-nine-school-meet-records-fall.html">2 Mount Vernon Runners Star; Nine School Meet Records Fall</a>
      <br><br>  <a href="https://www.nytimes.com/1970/05/24/archives/singleton-snaps-two-records-in-hurdles-at-schoolboy-meet-mount.html">Singleton Snaps Two Records In Hurdles at Schoolboy Meet</a>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
      Coach Sing in College
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Coach Sing went to Penn State for college. He currently is NCAA Outdoor All-Time Men's All-American Athlete in the 440Yd Relay (6th Place 1973) and the 4X1 Meter Relay (6th Place in 1973). To this day, he also has the 5th fastest SMR Relay
        time in Penn Indoor Track and Field History, 5th, 8th, and 10th fastest time in the 4X1 Meter Relay in Penn State Outdoor Track, and the 9th fastest 4X2 Relay in Penn State's Outdoor Track and Field.
      <br>  <a href="https://issuu.com/gopsusports/docs/2020_yearbook"> Penn States 2020 Track & Field Yearbook </a>
<img src="/images/singleton.png"> Penn State’s Fred Singleton hands baton to teammate Mike Sands at 1974 meet. </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingeight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseeight" aria-expanded="false" aria-controls="collapseseight">
    Other Coach Sing Reading Material/Press
        </button>
      </h5>
    </div>
    <div id="collapseeight" class="collapse" aria-labelledby="headingseight" data-parent="#accordion">
      <div class="card-body">
<a href="http://loucksgames.squarespace.com/meet-directors"> Meet Director of Loucks </a>
<br><br><a href="http://static1.1.sqspcdn.com/static/f/417522/17681659/1334502436907/Interview+with+Meet+Director+Fred+Singleton2.pdf?token=NBBVKm9Tn51Lvh5F4biNGoH74DY%3D">Milesplit Interview with Meet Director Fred Singleton </a>
<br><br><a href="https://ny.milesplit.com/articles/279966/prose-with-the-pros-loucks-meet-director-fred-singleton">Prose With The Pro's: Loucks Meet Director Fred Singleton</a>
  </div>
  </div>


      <div class="card">
        <div class="card-header" id="headingsevenss">
          <h5 class="mb-0">
            <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesevenss" aria-expanded="false" aria-controls="collapsesevenss">
    Coach's Book, "The Quorum's Child"
            </button>
          </h5>
        </div>
        <div id="collapsesevenss" class="collapse" aria-labelledby="headingsevenss" data-parent="#accordion">
          <div class="card-body">
    <a href="https://www.amazon.com/Quorums-Child-Constitution-Challenging-Election-2020-ebook/dp/B01L49YA9M"> Amazon: "The Quorum's Child"</a>
  <br><br>  <a href="https://www.whiteplainspublicschools.org/Page/600"> White Plains High School Book Chat</a>

        </div>
      </div>
  <div class="card">
    <div class="card-header" id="headingnine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenine" aria-expanded="false" aria-controls="collapsesnine">
    Willie Davenport
        </button>
      </h5>
    </div>
    <div id="collapsenine" class="collapse" aria-labelledby="headingsnine" data-parent="#accordion">
      <div class="card-body">
<a href="https://en.wikipedia.org/wiki/1974_USA_Outdoor_Track_and_Field_Championships"> Wiki: 1974 USA Outdoor Track and Field Championships </a>
<br><br><a href="http://www.encyclopediaofalabama.org/article/h-3498">Alabama Encyclopedia: Willie Davenport</a>
  </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingnines">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsenines" aria-expanded="false" aria-controls="collapsesnines">
Lee Evans and Larry James
        </button>
      </h5>
    </div>
    <div id="collapsenines" class="collapse" aria-labelledby="headingsnines" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.youtube.com/watch?v=sBQdA5CbSFM&feature=emb_err_woyt"> The Close Race Coach Mentioned! </a>
<br><br><a href="https://www.youtube.com/watch?v=3q9gW8MfMWw&feature=emb_err_woyt"> The 4X4 Relay USA with Both Men! </a>

  </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingten">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseten" aria-expanded="false" aria-controls="collapsesten">
John Carlos 200M
        </button>
      </h5>
    </div>
    <div id="collapseten" class="collapse" aria-labelledby="headingsten" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.youtube.com/watch?v=bWI9raEM1-4&feature=emb_err_woyt"> John Carlos 1968 Olympics 200M Race </a>

  </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingsix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesix" aria-expanded="false" aria-controls="collapsesix">
The New York Pioneer Club
        </button>
      </h5>
    </div>
    <div id="collapsesix" class="collapse" aria-labelledby="headingsix" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.nytimes.com/1975/04/27/archives/the-pioneer-club-a-state-of-mind.html"> Article About the Coach that Coach Sing Ran With </a>
  <br> <br>  <a href="https://www.nytimes.com/1974/06/30/archives/met-junior-mile-3mile-to-mccarey-field-events.html"> Results from a Meet</a> </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingseven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseseven" aria-expanded="false" aria-controls="collapseseven">
Ed Kehe
        </button>
      </h5>
    </div>
    <div id="collapseseven" class="collapse" aria-labelledby="headingseven" data-parent="#accordion">
      <div class="card-body">
        <a href="https://www.lohud.com/story/sports/2016/07/12/50-years-later-team-ages-not-forgotten/86983860/"> Article about WP Relay Team with Larry James </a>
<br><br>
<a href="http://www.theloucksgames.org/"> Picture of Coach and Ed Kehe (scroll down) </a>
<br><br>
<a href="http://www.theloucksgames.org/home/2000/11/29/message-from-ed-kehe.html"> Start of Loucks Games </a>
<br><br>
    </div>
  </div>

    <div class="card">
      <div class="card-header" id="headingsevens">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapsesevens" aria-expanded="false" aria-controls="collapsesevens">
  Amanda Singleton (Coach's Daughter)
          </button>
        </h5>
      </div>
      <div id="collapsesevens" class="collapse" aria-labelledby="headingsevens" data-parent="#accordion">
        <div class="card-body">
  <br><br>
  <a href="http://www.leonetiming.com/2007/Outdoor/Loucks/"> Results from 2007 Loucks Games </a>
      </div>
    </div>


<br>
<br>

<%- include('bootfooter') -%>
