<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width", initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;
}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep23.png" width="100%" height="auto">
      </div>

        <h1>Season 2: Episode 3</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Part-2-White-Plains-vs--Ossining-with-Abby-emdg81/a-a3r1m3o" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br> <br> <h3>In this episode, listen to Rina and Abby discuss the first meet of the Cross Country 2020 season! This meet was held on the White Plains High School Course.</h3>
 <br><br><%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>

The cover picture of this episode is from the Sports Circle, our "track" for Indoor Track.
</div>
<br>
<br>
<%- include('bootfooter') -%>
