<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width", initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;
}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep25.png" width="100%" height="auto">
      </div>

        <h1>Season 2: Episode 5</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/The-Hispanic-Games-and-Indoor-Track-with-Zeph-epndft" height="200px" width="100%" frameborder="0" scrolling="no"></iframe> <br><br><%- include('platforms') -%><br> <br> <h3>Introducing, Zephaniaya! Little did we know we had both run at the 2021 Hispanic Games within hours of each other. After the meet, he reached out to let me know we had both run at the same meet. Hear about Zephaniaya's journey as a runner, experience running during COVID, and advice.</h3>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>
<br>
<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>

</div>
<br>
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Zephaniaya        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.athletic.net/TrackAndField/Athlete.aspx?AID=15568261&L=4"> Athleticnet Profile</a><br>
<a href=https://s3.us-east-2.amazonaws.com/mstca.bucket/ResultsJan23.htm>Results from the meet he ran right before recording</a>     </div>
    </div>
  </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Hispanic Games
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
        <a href="https://results.armorytrack.com/meets/6895/events/226338/results">Boys 1 Mile Run</a><br>
        <a href="https://results.armorytrack.com/meets/6895/events/226336/results">Girls 800</a>
        </div>
      </div>
    </div>

</div>
<br>
<br>
<%- include('bootfooter') -%>
