<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width", initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;
}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep25.png" width="100%" height="auto">
      </div>

        <h1>Season 2: Episode 6</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Rinas-First-Two-Indoor-Meets-eq42dt" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br><br><%- include('platforms') -%><br> <br> <h3>In this solo episode, here about Rina's first two meets in her indoor season. Last week we discussed the Hispanic Games with Zeph, but hear more about it in this podcast. You'll also get to hear about an outdoor indoor meet!</h3>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>
<br>
<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>

</div>
<br>
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Hispanic Games 1/9/21</button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://results.armorytrack.com/meets/6895/events/226336/results"> Meet Results</a><br>
<a href="https://storage.googleapis.com/anet_user_files/meet/tf/405091/4th_Floor_Balcony_Seating_(Traffic_Flow).pdf">Map of 4th Floor in the Armory (seats)</a> <br>
<a href="https://storage.googleapis.com/anet_user_files/meet/tf/405091/3rd_Floor_(Dec_2020)_.pdf" target="_blank">Map of the 3rd Floor (track)</a>    <br>
 </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne1">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
Pictures of the Armory</button>
      </h5>
    </div>
    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion">
      <div class="card-body">
<img src="/images/ArmoryBigStairs.png" width="20%" height="auto"> <br> <p> After picking up the packet, we walked up these stairs. </p>
<img scr="/images/bib.png" width="20%" height="auto"> <br>
<img scr="/images/ArmoryWhole.png" width="20%" height="auto"> <br>
<img scr="/images/warmup.png" width="20%" height="auto"> <br>
<img scr="/images/cameraArmory.png" width="20%" height="auto"> <br>
<img scr="/images/onewaysign.png" width="20%" height="auto"> <br>
<img scr="/images/stairwellArmory.png" width="20%" height="auto"> <br>
<br><br><br>
<img scr="/images/afterRace.png" width="20%" height="auto"> <br>
<img scr="/images/runningHispanicGames.png" width="20%" height="auto"> <br>
 </div>
    </div>
  </div>

    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
White Plains vs. New Rochelle 1/22/20          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
        <a href="https://live.fultonaccuratetiming.com/meets/6982/events/228855/results">1000m Run</a><br>
        </div>
      </div>
    </div>

</div>
<br>
<br>
<%- include('bootfooter') -%>
