<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width", initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;
}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep27.png" width="100%" height="auto">
      </div>

        <h1>Season 2: Episode 7</h1>
<br>
<p>John Meore is the photographer. Find him <a href="https://twitter.com/JMeorePhoto" target="_blank"> @JMeorePhoto on Twitter </a>, <a href="https://www.instagram.com/jmeorephoto/" target="_blank"> @jmeorephoto on Instagram </a>, and at <a href="https://www.lohud.com/staff/4388211002/john-meore/">Lohud </a>. His personal website can be found <a href="https://johnmeore.com/" target="_blank"> here</a>.</p>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Underground-Track-Meets-esgjni" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br><br><%- include('platforms') -%><br> <br> <h3>In this solo episode, here about Rina's first two meets in her indoor season. Last week we discussed the Hispanic Games with Zeph, but hear more about it in this podcast. You'll also get to hear about an outdoor indoor meet!</h3>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>
<br>
<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>

</div>
<br>
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Results</button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://ny.milesplit.com/meets/409276-palisades-center-underground-track-series-3-session-1-2021/results/719775/raw" target="_blank"> 2/4/21 Palisades Center Underground Track Series #3 Session 1 2021 </a>
<br><br><a href="https://ny.milesplit.com/meets/409784-palisades-center-underground-track-championships-noon-session-2021/results/720444/raw" target="_blank"> 2/27/21 Palisades Center Underground Track Championships -Noon Session 2021 </a>
<br><br><a href="https://www.youtube.com/watch?v=Ya7xB3FC9-M" target="_blank"> Indoor Track Footage </a>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingOne1">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne1">
Pictures of the Garage</button>
      </h5>
    </div>
    <div id="collapseOne1" class="collapse" aria-labelledby="headingOne1" data-parent="#accordion">
      <div class="card-body">
<img src="/images/Garage1.png" width="20%" height="auto"> <br> 
<img scr="/images/garage2.png" width="20%" height="auto"> <br>
<img scr="/images/garage3.png" width="20%" height="auto"> <br>
<img scr="/images/garage4.png" width="20%" height="auto"> <br>
<img scr="/images/garage5.png" width="20%" height="auto"> <br>
<img scr="/images/garage6.png" width="20%" height="auto"> <br>
<br><br><br>
 </div>
    </div>
  </div>


</div>
<br>
<br>
<%- include('bootfooter') -%>
