<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width", initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;
}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="/images/ep28.png" width="100%" height="auto">
      </div>

        <h1>Season 2: Episode 8</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Underground-Track-Meets-esgjni" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br><br><%- include('platforms') -%><br> <br> <h3>In this solo episode, here about Rina's first two meets in her indoor season. Last week we discussed the Hispanic Games with Zeph, but hear more about it in this podcast. You'll also get to hear about an outdoor indoor meet!</h3>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>
<br>
<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>

</div>
<br>
<div id="accordion">

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
Links to Articles about Mr. Panero</button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.nytimes.com/1988/05/08/nyregion/white-plains-readies-for-loucks-games.html" target="_blank"> White Plains Readies for Loucks Games - NY Times</a>
<br><br><a href="http://loucksgames.squarespace.com/meet-directors" target="_blank"> Meet Director Biographies - The Loucks Games</a>
<br><br><a href="https://www.theexaminernews.com/panaro-named-interim-athletic-director-at-white-plains/" target="_blank"> Mr. Panero named Interim Athletic Director - The Examiner</a>
      </div>
    </div>
  </div>



</div>
<br>
<br>
<%- include('bootfooter') -%>
