<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}

</style>

    <div class="jumbotron">
    <img src="/images/e4.png" width="100%" height="auto">
      </div>

        <h1>Episode 4</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Deep-Thoughts--Advice--and-Pet-Snails-ees894/a-a2bv9f2" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>

<p style="margin-top:3px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<br>
<p>In this episode, Abigail Roman and Rina discuss their transition from running in middle school to running in high school. They share a ton of advice for runners joining the White Plains High School XC and Track teams. In addition, they talk about travel and pet snails.</p>
<br>
<br>
<p> Episodes can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify</a>, <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts</a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts</a>,<a href="https://www.breaker.audio/the-run-around" target="_blank"> Breaker<a href="https://pca.st/412gpanq" target="_blank"> Pocket Casts</a>,</a> and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a>
More platforms are coming soon!</p>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>

<br>
<br
 <h1> Blooper Reel </h1>
 <iframe width="100%" height="400px" src="https://www.youtube.com/embed/nfn9z_Vkaw8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<%- include('bootfooter') -%>
