<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}

</style>

    <div class="jumbotron">
    <img src="images/ep5/ep5.png" width="100%" height="auto">
      </div>

        <h1>Episode 6</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Climbing-the-Mountain-ef1nl6/a-a2d1auv" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>
<p style="margin-top:3px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<br>
<p>In this episode, Simone and Rina discuss their experiences at Suffern Invitational. This was Simone's first ever XC race with WPXC, and this was Rina's first varsity XC race with WPXC! Listen to find out what TV character Simone would be if she could be any fictional character!</p>
<br>
<br>
<p> Episodes can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify</a>, <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts</a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts</a>,<a href="https://www.breaker.audio/the-run-around" target="_blank"> Breaker</a>,<a href="https://pca.st/412gpanq" target="_blank"> Pocket Casts</a>,and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a>
More platforms are coming soon!</p>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>

<br>
<br>
<div id="accordion">
<h1> Resources for Eating Disorders<br> If you are in immediate danger, or someone you know is in immediate danger, please call <a href="tel:911">9-1-1</a>.</h1>
<h1> Hotlines </h1>
<table>
  <tr>
  <th scope="col">Website</th>
  <th scope="col">Phone Number</th>
  </tr>

  <tr>
  <td> <a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline" target="_blank"> National Eating Disorder Helpline</a></td>
  <td> <a href="tel:1-800-931-2237">1-800-931-2237</a>
  </tr>

  <tr>
  <td> <a href="https://nationaltoolkit.csw.fsu.edu/resource/national-hopeline-network-suicide-crisis-hotline-1-800-442-hope4673/" target="_blank">National Hopeline Network, Suicide & Crisis Hotline</a></td>
  <td> <a href="tel:1-800-442-4673">1-800-442-HOPE</a></td>
  </tr>

  <tr>
  <td> <a href="https://anad.org/our-services/eating-disorders-helpline/" target="_blank">National Association of Anorexia Nervosa and Associated Disorders</a>
  <td> <a href="tel:1-630-577-1330">1-630-577-1330</a>
  </tr>

  <tr>
  <td> <a href="https://oa.org/find-a-meeting/?type=0" target="_blank">Overeaters Anonymous</a>
  <td> <a href="tel:1-505-891-2664">1-505-891-2664</a>
  </tr>

  <tr>
  <td> <a href="https://www.medainc.org/about-meda/mission-meda-story/" target="_blank">Multi-Service Eating Disorders Association (formerly the Massachusetts Eating Disorder Association)</a>
  <td> <a href="tel:1-617-558-1881">1-617-558-1881</a>
  </tr>

  <tr>
  <td> <a href="https://www.211.org/" target="_blank">The United Way’s 211</a>
  <td> <a href="tel:2-1-1">2-1-1</a>
  </tr>

  <tr>
  <td> <a href="https://www.crisistextline.org/" target="_blank">Crisis Textline</a>
  <td> <a href="sms:741741">Text Connect to 741741</a>
  </tr>

<a href="https://www.nationaleatingdisorders.org/screening-tool" target="_blank"> Eating Disorder Screening Tool</a></td>


<br><br>

  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Coach Fitzsimons Running in High School (Kaylin Gilmartin-Donahue)
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<img src="/images/ep5/coach.png" width="20%" height="auto">
<a href="http://www.leonetiming.com/results/runner.php?id=969708&tpl=results-xc-field-indv.tpl" target="_blank">NY State Federation XC Championship Girls Race 2006</a>
<br><br>

<br><br>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      Pictures of the Mountain! And Course Map!
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="http://cloud2.snappages.com/63478909387c206211cf5c44741961313c481d00/Bear%20Mountain%20Course%20Maps.pdf"> Course Map </a><br><br>
            <a href="https://ny.milesplit.com/photos/albums/41660?tag=07.+varsity+girls+a">Harold Tuck Pictures</a>
            <br><br>
            The following pictures I actually took a week before the 2019 Suffern Invitation.<br>
                <img src="/images/ep5/3.png" width="20%" height="auto"><br><br>
                <img src="/images/ep5/2.png" width="20%" height="auto">The picture above is the hairpin turn that I almost skid off of!<br>
                <img src="/images/ep5/4.png" width="20%" height="auto"><br><br>
                <img src="/images/ep5/5.png" width="20%" height="auto"><br><br>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
During the Race Pictures
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
<br><br> <img src="/images/ep5/start.png" width="20%" height="auto">
 <img src="/images/ep5/starting.png" width="20%" height="auto">
 <img src="/images/ep5/run.png" width="20%" height="auto">
     </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Race Results
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
<a href="https://ny.milesplit.com/meets/322604/results/605773/formatted#.Xtqro2pKiv8" target="_blank"> 2018 Suffern Invitational Varsity Girls A (Rina)</a><br>
<br><a href="https://ny.milesplit.com/meets/322604/results/605776/formatted#.XtqsempKiv8">2018 Suffern Girls (Simone)</a>
    </div>
  </div>
</div>

<br>
<br>

<%- include('bootfooter') -%>
