<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
</style>

    <div class="jumbotron">
    <img src="images/ep6/ep6.png" width="100%" height="auto">
      </div>

        <h1>Episode 6</h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Coachs-Corner-Coach-Fitzsimons-ef5fgl" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>
<p style="margin-top:1px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<br>
<br>
<p> Episodes can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify</a>, <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts</a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts</a>,<a href="https://www.breaker.audio/the-run-around" target="_blank"> Breaker</a>,<a href="https://pca.st/412gpanq" target="_blank"> Pocket Casts</a>, and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a>
More platforms are coming soon!</p>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br><br>
<p> Pictures of Coach Fitz and links to information about her life are down below the table!</p>
<br>
<br>
<div id="accordion">
<h1> Resources for Eating Disorders<br><br> If you are in immediate danger, or someone you know is in immediate danger, please call <a href="tel:911">9-1-1</a>.</h1>
<br><br><h1> Hotlines (Last Updated 6/6/202)</h1>

<table>
  <tr>
  <th scope="col">Website</th>
  <th scope="col">Phone Number</th>
  <th scope="col">Hotline Services</th>
  <th scope="col">Hotline Hours</th>
  <th scope="col">Additional Resources from the Website</th>
  </tr>

  <tr>
  <td> <a href="https://www.nationaleatingdisorders.org/help-support/contact-helpline" target="_blank"> National Eating Disorder Helpline</a></td>
  <td> <a href="tel:1-800-931-2237">1-800-931-2237</a><br>
  FOR A CRISIS: Call <a href="tel:911">9-1-1</a>,call <a href="1-800-273-8255">1.800.273.8255</a>, or <a href="sms:741741"> text NEDA to 741741</a></td>
  <td>Helpline is confidential. You can always leave a message for the Helpline if it is not currently available and we will return your call or message promptly. For both the Helpline and the chat, a trained helpline volunteer will help you find
    support, resources, and treatment options for yourself or a loved one. If you are not in the US, the Helpline will give you resources for your country.</td>
  <td>Phone: Monday-Thursday from 11AM to 9PM ET, and Friday from 11AM to 5PM ET
    <br> Text: Monday-Thursday from 9AM to 9PM ET and Friday 9AM to 5PM ET <br>
    Online Chat is currently offline.</td>
  <td>The <a href="https://www.nationaleatingdisorders.org/forum" target="_blank">NEDA Forums</a> are a safe and confidential place to ask for support from others going through similar issues you might be facing.<br><br>
    The <a href="https://www.nationaleatingdisorders.org/screening-tool" target="_blank"> Eating Disorder Screening Tool</a></td>
  </tr>

  <tr>
  <td> <a href="https://nationaltoolkit.csw.fsu.edu/resource/national-hopeline-network-suicide-crisis-hotline-1-800-442-hope4673/" target="_blank">National Hopeline Network, Suicide & Crisis Hotline</a></td>
  <td> <a href="tel:1-800-442-4673">1-800-442-HOPE</a></td>
  <td> This is dedicated to preventing suicide. You can talk to someone day or night about anything that’s troubling you, even if it’s not related to an eating disorder. You can also call if you need referrals to eating disorder treatment centers.
  Trained counselors will provide support</td>
  <td> Unknown</td>
  <td> Unknown</td>
  </tr>

  <tr>
  <td> <a href="https://anad.org/our-services/eating-disorders-helpline/" target="_blank">National Association of Anorexia Nervosa and Associated Disorders</a>
  <td> <a href="tel:1-630-577-1330">1-630-577-1330</a>
    <td> ANAD strives to let callers know we are here for them, and provide resources for further support. People call the Helpline for any of the following reasons:
<ul>
<li>For referrals to treatment options</li>
<li>If a caller is concerned that they may have an eating disorder </li>
<li>For encouragement and support </li>
<li>To discuss worries about friends or loved ones </li>
<li>Questions about eating disorders in general</li>
</td>
  <td> Monday-Friday 9am and 5pm CST</td>
    <td><a href="https://anad.org/eating-disorder-screening-tool/" target="_blank">Screening Tool</a><br>
    <br><br><a href="https://anad.org/our-services/about-our-support-groups/" target="_blank"> Suport Groups </a>
  <br></td>
  </tr>

  <tr>
  <td> <a href="https://oa.org/find-a-meeting/?type=0" target="_blank">Overeaters Anonymous</a>
  <td> <a href="tel:1-505-891-2664">1-505-891-2664</a>
    <td> Worldwide Support.  Contrary to popular belief, Overeaters Anonymous is not just for people who are concerned about eating too much; it is also intended for those who have anorexia, bulimia, food addiction, or any other type of eating disorder. </td>
    <td> Unknown</td>
    <td> <a href="https://oa.org/quiz/" target="_blank"> Is Overeaters Anonymous Right for You?</a>
    <br><br> <a href="https://oa.org/find-a-meeting/?type=0" target="_blank"> Find Meetings (In Person, Online, Telephone, or Recorded)</a></td>
  </tr>

  <tr>
  <td> <a href="https://www.medainc.org/about-meda/mission-meda-story/" target="_blank">Multi-Service Eating Disorders Association (formerly the Massachusetts Eating Disorder Association)</a>
  <td> <a href="tel:1-617-558-1881">1-617-558-1881</a>
  <td> This organization offers education, information, referrals to clinicians who specialize in eating disorders, support groups, and additional services for people with eating disorders in the New England area. It also offers information about nationwide treatment centers.</td>
  <td> 9 a.m. and 5 p.m. EST, Monday–Friday</td>
  <td> <a href="https://www.medainc.org/services/heal/medas-recovery-groups/" target="_blank"> Support Recovery Group</a>
      <br><br><a href="https://www.medainc.org/services/heal/locate-an-eating-disorder-specialist/" target="_blank"> Treatment Providers</a>
      <br><br><a href="https://www.medainc.org/services/heal/find-a-treatment-facility/" target="_blank"> Treatment Centers</a>
  </tr>

  <tr>
  <td> <a href="https://www.211.org/" target="_blank">The United Way’s 211</a>
  <td> <a href="tel:2-1-1">2-1-1</a>
    <td> This hotline can help anyone in crisis, and locate resources for any type of situation. There are also Local 211 centers.</td>
    <td>24/7</td>
    <td> There are local 211 Centers that can help you even more with community and local based resources. With local 211 centers you can call or text for help. Centers can be located on the website.</td>
  </tr>

  <tr>
  <td> <a href="https://www.crisistextline.org/" target="_blank">Crisis Textline</a>
  <td> <a href="sms:741741">Text HOME to 741741</a>
    <td> Trained crisis volunteers can provide confidential advice, support, and referrals. Crisis can be anything that you need support with.</td>
    <td> There are also numbers for Canada and the UK. View these numbers on the website. </td>
    <td> Unknown</td>
  </tr>

  <tr>
  <td> <a href="https://www.nami.org/help" target="_blank">NAMI Helpline</a>
  <td> <a href="tel:1-800-950-6264">1-800-950-NAMI</a></td>
    <td> HelpLine volunteers are working to answer questions, offer support and provide practical next steps. This is a free service. It is unable to provide mental health counseling, advice, personal advocacy, referrals to mental health providers or lawyers, do individual casework, and legal representations or any type of individual advocacy.</td>
    <td> Monday through Friday, 10 am–6 pm, ET</td>
    <td> <a href="https://www.nami.org/About-Mental-Illness/Mental-Health-Conditions/Eating-Disorders" target="_blank">Eating Disorders</a> </td>
  </tr>
</table>
<br> Source: <a href="https://www.bulimia.com/topics/eating-disorder-hotline/" target="_blank">Eating Disorder Hotlines</a>
<br><br>

<h1> Other Resources</h1>
<a href="https://eatingdisorders.com/online-resources" target="_blank">Eating Disorders Online Resources</a>
<br><br><a href="https://www.eatingdisorderhope.com/information/resources-for-anorexia-bulimia-and-binge-eating-disorder" target="_blank">Resources for Anorexia, Bulimia and Binge Eating Disorders</a>
<br><br>
<h1> Podcast References</h1>
<br>
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link " data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Coach Fitzsimons Running in High School (Kaylin Gilmartin-Donahue)
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<img src="/images/ep6/coach.png" width="20%" height="auto"><br><br>
<a href="http://www.leonetiming.com/results/runner.php?id=969708&tpl=results-xc-field-indv.tpl" target="_blank">NY State Federation XC Championship Girls Race 2006</a>
<br><br>
<a href="http://www.leonetiming.com/2008/Outdoor/Loucks/080508F029.htm" target="_blank">41st Annual Glenn D. Loucks Games</a>
<br><br>
<a href="http://archive.dyestat.com/3us/7out/newyorkrelays/donna-nyrelays/index5.html" target="_blank">Steeplechase Winner</a>
<br><br>
<a href="http://www.tullyrunners.com/XC2006/GirlsAllState2006.htm" target="_blank">2006 NEW YORK STATE
GIRLS ALL STATE CROSS COUNTRY TEAM Class AA Second Team</a>
<br><br>
<a href="http://www.newyorksportswriters.org/reference/girls_xc_state_meet_2003.shtml" target="_blank">Girls XC 2003 NYSPHSAA Championships</a>
<br><br>
<a href="http://www.newyorksportswriters.org/reference/girls_xc_state_meet_2004.shtml" target="_blank">Girls XC 2004 NYSPHSAA Championships</a>
<br><br>
<a href="http://www.newyorksportswriters.org/reference/girls_xc_state_meet_2006.shtml" target="_blank">Girls XC 2006 NYSPHSAA Championships</a>
<br><br>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTo" aria-expanded="false" aria-controls="collapseTo">
    References to People in the Podcast
        </button>
      </h5>
    </div>
    <div id="collapseTo" class="collapse" aria-labelledby="headingTo" data-parent="#accordion">
      <div class="card-body">
      Coach Gil, or Coach Gilmartin is a current physical education teacher at White Plains High School. She also is Coach Ftizsimons's mother. <br>
      Coach Sing, or Coach Singleton, is the current White Plains High School XC and Indoor Track coach.
      <br> Coach Furry is the current Indoor and Outdoor Track coach.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
    Coach in College!
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
            <a href="https://www.tfrrs.org/athletes/2145239/Towson/Kaylin_GilmartinDonohue">All Race Results</a>
            <a href="https://towsontigers.com/sports/womens-indoor-track/roster/kaylin-gilmartin-donohue/1961" target="_blank"> Towson Roster</a>
            <br><br>
                <img src="/images/ep6/team.png" width="50%" height="auto"><br><br>
                <img src="/images/ep6/race.png" width="20%" height="auto"><br>

      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Coach as a Guidance Counselor at The Catholic Academy of Stamford
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
<a href="https://www.catholicacademystamford.org/apps/pages/index.jsp?uREC_ID=1101844&type=u" target="_blank"> Profile</a>
     </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
      Race Results
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
<a href="https://ny.milesplit.com/meets/322604/results/605773/formatted#.Xtqro2pKiv8" target="_blank"> 2018 Suffern Invitational Varsity Girls A (Rina)</a><br>
<br><a href="https://ny.milesplit.com/meets/322604/results/605776/formatted#.XtqsempKiv8">2018 Suffern Girls (Simone)</a>
    </div>
  </div>
</div>

<div class="card">
  <div class="card-header" id="headingFive">
    <h5 class="mb-0">
      <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
More Info about Coach's Fun Facts (At the End)
      </button>
    </h5>
  </div>
  <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
    <div class="card-body">
<a href="https://www.nbcnews.com/feature/inspiring-america/first-woman-officially-run-boston-marathon-makes-triumphant-return-n747616" target="_blank"> Kathrine Switzer-First Woman to Officially Run Boston Marathon Makes Triumphant Return</a><br>
<br><a href="https://www.biography.com/athlete/wilma-rudolph">Wilma Rudolph-First American Woman to Win Three Gold Medals in Track and Field at a Single Olympics</a>
<br><br><a href="https://www.runnersworld.com/nutrition-weight-loss/a20796032/how-to-fuel-for-a-5k/" target="_blank">Don't Carb Load-How to Fuel for a 5K</a><br><br>
<a href="https://www.livestrong.com/article/309135-can-a-high-carb-diet-cause-you-to-retain-water/" target="_blank">Water Retenation and Carbs</a>
  </div>
</div>
</div>

<br>
<br>

<%- include('bootfooter') -%>
