<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="images/ep7/ep7.png" width="100%" height="auto">
      </div>

        <h1>Episode 7 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Rinas-Rambles-about-Van-Cortlandt-efcs37" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>
<p style="margin-top:1px;margin-left:11px;font-family: sans-serif;font-size: 10px; color: oranage;">Powered by <a class="redcircle-link" href="https://redcircle.com?utm_source=rc_embedded_player&utm_medium=web&utm_campaign=embedded_v1">RedCircle</a></p>
<br>
In this episode, Rina shares the story that she uses to define how strong the bond is in the WPXC team. Tune in to hear how much wind affects your running speed!
<br>
<br>
<p> Episodes can also be found on <u><a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify</a></u>, <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts</a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts</a>,<a href="https://www.breaker.audio/the-run-around" target="_blank"> Breaker</a>,<a href="https://pca.st/412gpanq" target="_blank"> Pocket Casts</a>, <a href="https://overcast.fm/itunes1515814838/the-run-around" target="_blank"> Overcast </a>, and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a>
More platforms are coming soon!</p>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br><br>
<h1> Podcast References</h1>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Course & Historical Info
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapsed" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<img src="images/ep7/course.png" width="20%" height="auto"><br> This is the only course map I found, and I modified the course map to show what the 2.5 mile race is kinda like.<br>
<a href="https://secure.getmeregistered.com/get_information.php?event_id=132733" target="_blank"> Source of the Map</a><br><br>
<a href="https://images.squarespace-cdn.com/content/v1/5a0c9f51d74cffe8305247af/1516339016259-JCDDOZ0F0G3ZGJR639UY/ke17ZwdGBToddI8pDm48kFWxnDtCdRm2WA9rXcwtIYR7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z5QPOohDIaIeljMHgDF5CVlOqpeNLcJ80NK65_fV7S1UcTSrQkGwCGRqSxozz07hWZrYGYYH8sg4qn8Lpf9k1pYMHPsat2_S1jaQY3SwdyaXg/js-vcp-4-golfcourse.jpg" target="_blank"> A picture of the bridge that we run over </a><br><br>
<a href="http://shscrosscountry.com/cross-country-van-cortlandt-park-a-little-history/" target="_blank"> Cross Country – Van Cortlandt Park – a little history </a><br><br>
<a href="http://shscrosscountry.com/xc-history-lesson-101-van-cortlandt-park/" target="_blank"> XC History Lesson 101: Van Cortlandt Park </a><br><br>

    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTo" aria-expanded="false" aria-controls="collapseTo">
Running Advice and Facts
        </button>
      </h5>
    </div>
    <div id="collapseTo" class="collapse" aria-labelledby="headingTo" data-parent="#accordion">
      <div class="card-body">
        <a href="https://www.menshealth.com/fitness/a19544855/101-running-tips/" target="_blank">Running Advice</a><br><br>
        <a href="https://sporttracks.mobi/blog/how-wind-impacts-workouts" target="_blank"> Running Fact</a>
        <br><br>
      </div>
    </div>
  </div>

</div>

<br>
<br>

<%- include('bootfooter') -%>
