<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="images/ep8/ep8.png" width="100%" height="auto">
      </div>

        <h1>Season 1: Episode 8 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/College-Recruiting-and-Running-efeu7o" height="200px" width="100%" frameborder="0" scrolling="no"></iframe><br>
In this episode, Coach Fitz breaks down college recruiting and running. She talks about what she experienced and what student-athletes should expect while running in college. This is a great podcast for those looking to run in college!
<br><br>
<%- include('platforms') -%>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br><br>
<h1> Podcast References</h1>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      NCAA Info from ncaa.org
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapsed" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<a href="http://www.ncaa.org/" target="_blank">NCAA Official Site</a><br><br>
<a href="http://fs.ncaa.org/Docs/eligibility_center/Student_Resources/CBSA.pdf" target="_blank">2019-2020 Comprehensive Guide to Recruiting and Running in College</a><br><br>
<a href="http://www.ncaa.org/sport-science-institute/coronavirus-covid-19" target="_blank"> COVID and NCAA's Response</a><br><br>
<a href="http://www.ncaa.org/sites/default/files/Recruiting%20Fact%20Sheet%20WEB.pdf" target="_blank"> NCAA Recruiting Fact Sheet </a><br><br>
<a href="http://www.ncaa.org/student-athletes/future/choosing-college" target="_blank"> Choosing A College </a><br><br>
<a href="https://ncaaorg.s3.amazonaws.com/compliance/recruiting/calendar/2019-20D1REC_XTFRecruitingCalendar.pdf" target="_blank"> Contact Period Calendar</a><br><br>
<a href="http://fs.ncaa.org/Docs/eligibility_center/Student_Resources/IE_Brochure.pdf" target="_blank"> Guideline to the Recruiting Process</a><br><br>
<a href="https://ncaaorg.s3.amazonaws.com/about/d3/D3_FactandFigures.pdf" target="_blank"> Division III Fact and Figures</a><br><br>
<a href="https://web3.ncaa.org/ecwr3/" target="_blank"> NCAA Eligibility Center</a><br><br>

    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingTo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTo" aria-expanded="false" aria-controls="collapseTo">
National Leter of Intent (Division I and II)
        </button>
      </h5>
    </div>
    <div id="collapseTo" class="collapsed" aria-labelledby="headingTo" data-parent="#accordion">
      <div class="card-body">
        <a href="http://www.nationalletter.org/" target="_blank"> National Letter of Intent Official Website</a><br><br>
        <a href="http://www.nationalletter.org/frequentlyAskedQuestions/index.html" target="_blank"> National Letter of Intent FAQ</a>
        <br><br>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
      NAIA
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        <a href="https://www.naia.org/landing/index" target="_blank">NAIA Official Site</a><br><br>
        <a href="https://www.naia.org/student-athletes/benefits/index" target="_blank">Benefits of NAIA</a><br><br>
        <a href="https://www.naia.org/why-naia/pdf/NAIA_RecruitingShowcase.pdf" target="_blank"> NAIA Recruiting</a><br><br>
        <a href="https://www.naia.org/why-naia/naia-vs-ncaa/index" target="_blank"> NAIA vs. NCAA </a><br><br>
        <a href="https://play.mynaia.org/" target="_blank"> NAIA Eligibility Center</a><br><br>
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
Other Collegiate Sports Orgnaizations
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapsed" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        <a href="https://thenccaa.org/" target="_blank">NCCAA</a><br><br>
        <a href="https://www.njcaa.org/landing/index" target="_blank">NJCAA</a><br><br>
     </div>
    </div>
  </div>
</div>
</div>


  <div class="card">
    <div class="card-header" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
    Body Image and Running
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
      If you need help with body image or eating disorders, please visit <a href="/ep6" target="_blank">Episode 6</a> for several resources that might help.
        <a href="https://www.jenuinely.com/wellness/wellness-fitness/what-college-running-did-to-my-body-image/" target="_blank">What College Running Did To My Body Image</a><br><br>
        <a href="https://www.runningshoesguru.com/2018/04/how-these-7-inspirational-runners-overcame-their-body-image-hang-ups/" target="_blank"> How These 7 Inspirational Runners Overcame Their Body Image Hang-ups</a><br><br>
  </div>
</div>

<br>
<br>

<%- include('bootfooter') -%>
