<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>

h1 {
  text-align: center;
}
p {text-align: center;}

img {
  max-width: 100%;
height: auto;
}
a {
  text-align: center;
}
table, th, td {
  border: 1px solid black;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron">
    <img src="images/ep9/ep9.png" width="100%" height="auto">
      </div>

        <h1>Episode 9 </h1>
<br>
<iframe src="https://anchor.fm/therunaround/embed/episodes/Coachs-Corner-Coach-Agudelo-efo816" height="200px" width="100%" frameborder="0" scrolling="no"></iframe>In this episode, Coach Agudelo shares his experiences as a WPHS runner! He also talks about his teaching and coaching career!<br><br>
<p> Episodes can also be found on <u><a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify</a></u>, <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts</a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts</a>,<a href="https://www.breaker.audio/the-run-around" target="_blank"> Breaker</a>,<a href="https://pca.st/412gpanq" target="_blank"> Pocket Casts</a>, <a href="https://overcast.fm/itunes1515814838/the-run-around" target="_blank"> Overcast, </a> and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a>
More platforms are coming soon!</p>
<h1> Podcast Notes/References </h1>
<br>
<p> The music used in this podcast was Scott Holmes <a href="https://freemusicarchive.org/music/Scott_Holmes/Inspiring__Upbeat_Music/Scott_Holmes_-_Upbeat_Party" target="_blank"> "Upbeat Party."</a> "Upbeat Party" is in the "Inspiring & Upbeat Music" album. Inspiring & Upbeat Music by Scott Holmes is licensed under a Attribution-NonCommercial License. </p>

<div id="license">
<a href="http://creativecommons.org/licenses/by-nc/4.0/" target="_blank"><img align="middle" src="/images/lic.png"></a>
</div>
<br><br>
<h1> Podcast References</h1>
<br>

<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
      Pictures
        </button>
      </h5>
    </div>
    <div id="collapseOne" class="collapsed" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
<img src="/images/ep9/1" width="20%" height="auto"><br>Coach Agudelo is in the orange jersey to the left of the runner in the yellow jersey.<br>
<img src="/images/ep9/2" width="20%" height="auto"><br>Coach Agudelo is in the 1st row, and is the third athlete from the right.<br>
<img src="/images/ep9/3" width="20%" height="auto"><br>Coach Agudelo is leading his race in the orange jersey! Go Coach Agudelo!<br>
<img src="/images/ep9/4" width="20%" height="auto"><br>This is a news article! This is so cool because the middle school XC team still run at the Port Chester Invitational. This is the last meet of the season for the modified
XC teams, and is super fun! Many of the athletes at WPHS have also run at the Port Chester Invitational! <br>
<img src="/images/ep9/5" width="20%" height="auto"><br>Coach Agudelo is standing in the last row. He is the athlete all the way on the right. <br>
    </div>
  </div>
</div>
</div>
<br>
<br>

<%- include('bootfooter') -%>
