<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/suggest.png">
      </div>
        <br>
        <br>
        <br>
        <p>If you have a specific episode that
          you would like a podcast about, fill out the form!
          I will try to get to as many as possible! </p>



<%- include('bootfooter') -%>
