<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

    <div class="jumbotron">
        <h1>Suggest an Episode</h1>
        <br>
        <br>
        <br>
        <p>If you have a specific episode that
          you would like a podcast about, fill out the form! I will try to get to as many as possible! </p>
    </div>



<%- include('bootfooter') -%>
