<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

    <div class="jumbotron">
        <h1>Submit Questions</h1>
        <br>
        <br>
        <br>
        <p>Submit questions for specific episodes</p>
    </div>



<%- include('bootfooter') -%>
