<%- include('bootheader') -%>
<%- include('menubar') -%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
h6 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
</style>
    <div style="
    background-image: url('images/Theme.png');
     background-repeat: no-repeat;
  background-size: 100%, 100%">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1 >The Run Around</h1>
        <h3> with Rina </h3>
        <p> This is the website that will host the White Plains High School Podcasts</p>
        <br>
        <br>
    </div>
  <body>
    <h2> My mission</h2>
    <br>
    <p> My mission is to share my story of my running life, where I am now, where I am going,
      inspire people to unearth the hidden runner inside of them.</p>
  </body>
<br>
<%- include('bootfooter') -%>
