<%- include('bootheader') -%>
<%- include('menubar') -%>

<style>
h1 {text-align: center;}
p {text-align: center;}
</style>
    <div class="jumbotron">
        <h1 >White Plains High School Podcasts</h1>
        <br>
        <br>
        <br>
        <p> This is the website that will host the White Plains High School Podcasts</p>
    </div>

<%- include('bootfooter') -%>
