<%- include('bootheader') -%>
<%- include('menubar') -%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
h2 {text-align: center;}
h6 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="container">
        <br
        <br>
        <img src="/images/theme.png">
        <br>
        <br>
        <p> Welcome! Thanks for visiting! Glad you are here!</p>
        <br>
        <br>

  <body>
    <div class="body">
      <br>
    <h2> My Mission</h2>
    <br>
    <p> My mission is to share the story of my running life, where I am now,
      where I am going, and
      inspire people to unearth the hidden runner inside of them.</p>
<br>
    </div>
    <br>
<a class="twitter-timeline" href="https://twitter.com/RinasRunAround?ref_src=twsrc%5Etfw">Tweets by RinasRunAround</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
  </body>
<br>
<br>
<br>
<br>
<br>
<br>


<%- include('bootfooter') -%>
