<%- include('bootheader') -%>
<%- include('menubar') -%>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
h2 {text-align: center;}
</style>
    <div class="jumbotron">
        <h1 >White Plains High School Podcasts</h1>
        <br>
        <br>
        <br>
        <p> This is the website that will host the White Plains High School Podcasts</p>
    </div>

  <body>
    <h2> My mission</h2>
    <br>
    <p> My mission is to share my story of my running life, where I am now, where I am going,
      inspire people to unearth the hidden runner inside of them.</p>
  </body>
<br>
<%- include('bootfooter') -%>
