<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>White Plains High School Podcasts</h1>
        <p>This is the website that will host the White Plains High School Podcasts</p>
    </div>
  
<%- include('bootfooter') -%>
