<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
  a{
    text-decoration: underline;

  }
</style>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">The Run Around Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Podcasts
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Podcasts">Recorded</a>
          <a class="dropdown-item" href="/New">Upcoming</a>
            <a class="dropdown-item" href="/question">Submit Questions</a>
              <a class="dropdown-item" href="/facts">Submit Facts & Advice</a>
        </div>
      </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    About
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/Rina">Rina Stanghellini</a>
          <a class="dropdown-item" href="/Website">Website Creation</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link" href="/Runners">Runners</a>
     </li>


      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Suggest
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/General">General</a>
          <a class="dropdown-item" href="/specific">Specific Episode</a>
        </div>
      </li>


    </ul>
  </div>
</nav>
</meta>
