<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
.column {
  float: left;
  width: 50%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
table {
   border-spacing: 50px 0;
    border-collapse: separate;
}
td {
  padding: 10px 0;
}
p{
  text-align : center;
}
ul{
  text-align :center;
}
</style>

    <div class="jumbotron">
    <img src="/images/upcoming.png">
      </div>
        <p>View the schedule for upcoming podcasts and submit your questions. To sign up to participate in an episode, please visit the Runners page.
           <br>
<br>
<br>
<br>
      <br>
           <div class="row">
             <div class="column">
               <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSed8eFpRnkjBMMGEDE7U98SV2JJ-Xb7Y3isF4k9XlAzCK6EeA/viewform?embedded=true" width="100%" height="1000" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe></body>

             </div>
             <div class="column" id="scroll">
               <p> This is the schedule for recording the podcast. Finished podcasts should be released 2-3 days after recording. All podcasts are set to record at 3:00 pm EST/EDT unless otherwise stated.</p>
               <table>

<tr>
 <th scope="col">Date</th>
 <th scope="col">Podcast</th>
</tr>
<tr>
 <td>5/18/20</td>
 <td>Pre-season and Fun Runs 2018</td>
</tr>

<tr>
 <td>5/21/20</td>
 <td>Interview with Coach Singleton</td>
</tr>

<tr>
 <td>5/25/20</td>
 <td>Big Red Invitational 2018</td>
</tr>

<tr>
 <td>5/28/20</td>
 <td>Transitioning from Middle School to High School Running</td>
</tr>

<tr>
 <td>6/1/20</td>
 <td>Bear Mountain 2018</td>
</tr>

<tr>
 <td>6/4/20</td>
 <td>Interview with Coach Fitzsimons</td>
</tr>

<tr>
 <td>6/8/20</td>
 <td>Van Courtlandt Meets 2018</td>
</tr>

<tr>
 <td>6/11/20</td>
 <td>Look with the Captains</td>
</tr>

<tr>
 <td>6/15/20</td>
 <td>Gressler</td>
</tr>

<tr>
 <td>6/18/20</td>
 <td>College Running and Recruiting</td>
</tr>

<tr>
 <td>6/22/20</td>
 <td>Grout</td>
</tr>

<tr>
 <td>6/25/20</td>
 <td>Interview with Coach Furry</td>
</tr>

<tr>
 <td>6/29/20</td>
 <td>State Qualifier 2018</td>
</tr>

<tr>
 <td>7/2/20</td>
 <td>Interview with Coach Hidalgo</td>
</tr>

<tr>
 <td>7/6/20</td>
 <td>General XC Season 2018 (Paper Plates, Relays, Time Trials)</td>
</tr>

<tr>
 <td>7/9/20</td>
 <td>Interview with Coach McCormick</td>
</tr>

<tr>
 <td>7/13/20</td>
 <td>Ocean Breeze 2018 Record</td>
</tr>

<tr>
 <td>7/16/20</td>
 <td>Close up with Hurtlers</td>
</tr>

<tr>
 <td>7/20/20</td>
 <td>Leagues 2019</td>
</tr>


<tr>
 <td>7/23/20</td>
 <td>Close Up with Sprinters</td>
</tr>

<tr>
 <td>7/27/20</td>
 <td>Temple 2019</td>
</tr>

<tr>
 <td>7/30/20</td>
 <td>Close Up with Mid Distance</td>
</tr>

<tr>
 <td>8/3/20</td>
 <td>Loucks 2019!</td>
</tr>

<tr>
 <td>8/6/20</td>
 <td>Close Up with Distance</td>
</tr>

<tr>
 <td>8/10/20</td>
 <td>County and Class Meets 2019</td>
</tr>

<tr>
 <td>8/13/20</td>
 <td>Close Up With Jumpers</td>
</tr>

<tr>
 <td>8/17/20</td>
 <td>Gressler 2019</td>
</tr>

<tr>
 <td>8/20/20</td>
 <td>What it means to be a Runner</td>
</tr>

<tr>
 <td>8/3/20</td>
 <td>Schnectady 2019</td>
</tr>

<tr>
 <td>8/6/20</td>
 <td>Favorite Run and Favorite Workout</td>
</tr>

<tr>
 <td>8/10/20</td>
 <td>Manhattan Invitational 2019</td>
</tr>

<tr>
 <td>8/13/20</td>
 <td>Dealing with Injury</td>
</tr>

<tr>
 <td>8/17/20</td>
 <td>XC League 2019</td>
</tr>

<tr>
 <td>8/20/20</td>
 <td>Best Part About the WPHS Running Teams</td>
</tr>

<tr>
 <td>8/24/20</td>
 <td>XC State Qualifier 2019</td>
</tr>

<tr>
 <td>8/27/20</td>
 <td>Nutrition and Running</td>
</tr>

<tr>
 <td>8/31/20</td>
 <td>Freshman/Sophmore Meet Indoor 2019</td>
</tr>


</table>


             </div>
           </div>
<br>
<br>

<%- include('bootfooter') -%>
