<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/recorded.png">
      </div>
        <p>Find all podcasts recorded!</p>

<div>

    <iframe height="1000" width="100%" src="https://anchor.fm/therunaround"> </iframe>

    </div>

<%- include('bootfooter') -%>
