<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/recorded.png">
      </div>
        <h1>Find all podcasts recorded!</h1>
        <br>
        <p> Podcasts can be found here, on <a href="https://anchor.fm/therunaround" target="_blank"> Anchor</a>, or on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY?si=R8SbyuoFQlqfa5widV9LLw" target="_blank"> Spotify. </a>More platforms are coming soon!</p>
<br>

<h3> <a href="/ep1"> Episode 1: Mind Over Matter </a></h3>
<h3> <a href="/ep2"> Episode 2: Coach's Corner with Coach Singleton </a></h3>
<br>


<%- include('bootfooter') -%>
