<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

    <div class="jumbotron">
        <h1>Podcasts</h1>
        <br>
        <br>
        <br>
        <p>Find all podcasts recorded!</p>
    </div>

    <div>
      <table class="table table-large" style="width:100%">
        <tr>
          <th>Episode title</th>
          <th>Date Recorded</th>
          <th>Length</th>
        </tr>


      </table>
    </div>

<%- include('bootfooter') -%>
