<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/recorded.png">
      </div>
        <h1>Find all podcasts recorded!</h1>
        <br>
        <p> Episode can also be found on <a href="https://open.spotify.com/show/47gHtxKAKKnlfnZ9Ad58hY" target="_blank"> Spotify, </a> <a href="https://podcasts.apple.com/us/podcast/the-run-around/id1515814838" target="_blank"> Apple Podcasts </a>, <a href="https://www.google.com/podcasts?feed=aHR0cHM6Ly9hbmNob3IuZm0vcy8yMGYzZTUxMC9wb2RjYXN0L3Jzcw==" target="_blank"> Google Podcasts, </a><a href="https://www.breaker.audio/the-run-around" target="_blank">Breaker, <a href="https://pca.st/412gpanq" target="_blank">Pocket Casts, </a></a>and <a href="https://radiopublic.com/the-run-around-6VelqE" target="_blank">Radio Public.</a> </p>

<br>

<h3> <a href="/ep1"> Episode 1: Mind Over Matter </a></h3> <br>
<h3> <a href="/ep2"> Episode 2: Coach's Corner with Coach Singleton </a></h3><br>
<h3> <a href="/ep3"> Episode 3: Big Red Invitational </a></h3>
<br>


<%- include('bootfooter') -%>
