<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
h3 {text-align: center;}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
img{
  max-width: 100%;
height: auto;
}

</style>

    <div class="jumbotron">
    <img src="/images/recorded.png">
      </div>
        <h1>Find all podcasts recorded!</h1>
        <br>
        <br>
      <%- include('platforms') -%>
<br>
<h1>Season 1 </h1>

<h3> <a href="/ep1"> Episode 1: Mind Over Matter </a></h3> <br>
<h3> <a href="/ep2"> Episode 2: Coach's Corner: Coach Singleton </a></h3><br>
<h3> <a href="/ep3"> Episode 3: Big Red Invitational </a></h3><br>
<h3> <a href="/ep4"> Episode 4: Deep Thoughts, Advice, and Pet Snails</a></h3><br>
<h3> <a href="/ep5"> Episode 5: Climbing the Mountain</a></h3><br>
<h3> <a href="/ep6"> Episode 6: Coach's Corner: Coach Fitzsimons</a></h3><br>
<h3> <a href="/ep7"> Episode 7: Rina's Rambles about Van Cortlandt </a></h3><br>
<h3> <a href="/ep8"> Episode 8: College Recruiting and Running </a></h3><br>
<h3> <a href="/ep9"> Episode 9: Coach's Corner: Coach Agudelo </a></h3><br>
<h3> <a href="/ep10"> Episode 10: Fred Gressler Invitational </a></h3><br>
<h3> <a href="/ep11"> Episode 11: Coach's Corner: Coach Hidalgo </a></h3><br>
<h3> <a href="/ep12"> Episode 12: Coach Lacko, Somers, and the Lions Club </a></h3><br><br>
<h3> <a href="/ep13"> Episode 13: Rina's Run Around: Get to Know Me! With Abigail Roman </a></h3><br><br>
<h3> <a href="/ep14"> Episode 14: Singudelo/Fitzleton Relays Part 1</a></h3><br><br>
<h3> <a href="/ep15"> Episode 15: Close Up With a Hurdler!</a></h3><br><br>
<h3> <a href="/ep16"> Episode 16: Coach's Corner: Coach Furry</a></h3><br><br>
<h3> <a href="/ep17"> Episode 17: Singudelo Relays Part 2</a></h3><br><br>
<h3> <a href="/ep18"> Episode 18: Coach's Corner: Coach McCormick</a></h3><br><br>
<h3> <a href="/ep19"> Episode 19: Coach's Corner: Coach Tomici</a></h3><br><br>
<h3> <a href="/ep20"> Episode 20: Coach Simmons</a></h3><br><br>
<h3> <a href="/ep21"> Episode 21: Indoor Time Trials and Workouts</a></h3><br><br>
<h3> <a href="/ep22"> Episode 22: Part 1 - White Plains vs. Ossining</a></h3><br><br>
<h3> <a href="/ep23"> Episode 23: Part 2: White Plains vs. Ossining with Abby</a></h3><br><br>
<h3> <a href="/ep24"> Episode 24: The Tracks of Indoor Track!</a></h3><br><br>

<h1> Season 2 </h1><br><br>

<h3> <a href="/ep21"> Episode 21: Indoor Time Trials and Workouts</a></h3><br><br>

<%- include('bootfooter') -%>
