<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
</style>

    <div class="jumbotron">
    <img src="/images/recorded.png">
      </div>
        <p>Find all podcasts recorded!</p>

<div>
 <iframe height="2000" width="100%" src="https://anchor.fm/therunaround"> </iframe>
    </div>
    <p> Click on Menu then Directions to view inside commentary on what the run is like (The menu button will appear after you click play! You can also change the map type to satallite or terrain, view hills, and much more! </p>
<div style="overflow:hidden;position:relative;"><div style="position:relative;width:100%;padding-top:56.25%;overflow:visible;"/><iframe name="plotaroute_map_1132191" src="https://www.plotaroute.com/embedmap/1132191?units=km" style="position:absolute;top:0;left:0;bottom:0;right:0;width:100%; height:100%;" frameborder="0" scrolling="no" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe></div><p style="margin-top:8px;font-family:Helvetica Neue,Helvetica,arial;font-size:11px;">Route map for <a href="https://www.plotaroute.com/route/1132191?units=km" target="_blank" title="View this route map on plotaroute.com">Bloomingdales</a> by <a href="https://www.plotaroute.com/userprofile/303357" target="_blank" title="View this person's profile on plotaroute.com">Rina Stanghellini</a> on <a href="https://www.plotaroute.com" target="_blank" title="plotaroute.com - free route planner for walking, running, cycling and more">plotaroute.com</a></p></div>


<%- include('bootfooter') -%>
