Outdoor<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 100%;
height: auto;
}
body{
text-align: center;
}
</style>

    <div class="jumbotron">
    <img src="/images/rinas.png">
      </div>
<body class="body">
      <img src="/images/rina.png">
<br>
<br>
<br>
      <p>
      My name is Rina Stanghellini and I am a three-season athlete at White Plains High School.
      I run Cross Country in the fall, the 1000M in indoor Track, and 400M/800M in Outdoor Track. I started
      running in 5th grade with the White Plains Future Stars Club Team. Once I got to 7th grade I begrudgingly
      started Cross Country at Highlands Middle School. As the season went on, I fell in love with running and my Cross
      Country team. I also ran the 1500m in Outdoor Track at Highlands Middle School. After graduating from Highlands,
      I joined the Cross Country team at the high school. It was a challenging transistion from middle school to high
      school, but I adapted and was on the Varsity Cross Country team in my freshman year. I went on to run indoor Track, and
      specialized in the 1000M, where I became League Champion for that year. I continued to run for Outdoor Track, where I focused on <thead>
        the 800M. I had an amazing experience running 4 relays in The Loucks Games with my teammates. Outdoor Track ended too soon, but Cross Country
        came just as quickly! I had another amazing season, with almost every race resulting in a personal record. During the Indoor Track season of my Sophmore year, I continued to
        run the 1000M.
        <br> My NCSA profile can be found here: <a href="https://recruit-match.ncsasports.org/clientrms/athletes/7296338">https://recruit-match.ncsasports.org/clientrms/athletes/7296338</a>
        <br>
        <br>
I plan to major in cybersecurity in college and work for the government. I indent to pursue a graduate degree as well.

        <br>
        <br>

        While I am a year-round athlete, I am also a muscian, sister, teacher, and tutor. I play violin in the White Plains
        Symphonic Orchestra, and the White Plains Honors String Ensamble. I have two sisters, named Anna and Nuala. In addition, I
        am actively involved in my church; I teach 4th grade religion in the OLS Religious Education Program. Lastly, I have tutored 4th-6th grade
        math.
<br>
<br>
    I have gone on 3 mission trips. For each mission trip, I traveled with a team to an orphanage to give care, adovcate for the children, and provide
    necessary supplies and services. I have gone to China, Haiti, and Kyrgyzstan with the <a href="https://awaa.org/one-orphan/take-action/trips/">America World Adoption Agency.</a>
    <br>
<br>
    I could never have become the person I am today without having wonderful role models in my life. My parents, sisters, teammates, coaches, teachers, and friends have all helped me to become who I am.
    These people also motivate me to strive to become the best sister, student, teammate, athlete, and muscician.
</p>
    <br> <br>
</body>

<br>
<br>
<br>
<%- include('bootfooter') -%>
