<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 100%;
height: auto;
}
body{
text-align: center;
}
</style>

    <div class="jumbotron">
    <img src="/images/Rina.jpg">
      </div>
<body class="body">
  <div class="row">
    <div class="column">
      <img src="/images/nice.jpg">
    <div>
    <div class="column">
      <p>
      My name is Rina Stanghellini and I am a three season athlete at White Plains High School.
      I run Cross Country in the fall, the 1000M in indoor track, and 400M/800M in outdoor track. I started
      running in 5th grade with the White Plains Future Stars Club Team. Once I got to 7th grade I begrudgingly
      started Cross Country at Highlands Middle School. As the season went on, I fell in love with running and my Cross
      Country team. I also ran the 1500m in Outdoor Track at Highlands Middle School. After graduating from Highlands,
      I joined the Cross Country team at the high school. It was a challenging transistion from middle school to high
      school, but I adapted and was on the Varsity Cross Country team in my freshman year. I went on to run indoor track, and
      specialized in the 1000M, where I became League Champion for that year. I continued to run for Outdoor track, where I focused on <thead>
        800M. I had an amazing experience running 4 relays in The Loucks Games with my teammates. Outdoor Track ended too soon, but Cross Country
        came just as quickly! I had another amazing season, with almost every race resulting in a PR. The Indoor Season of my Sophmore year I continued to
        run the 1000M.

        <br>
        <br>

        While I am a year-round athlete, I am also a muscian, sister, teacher, and tutor. I play violin in the WHite Plains
        Symphonic Orchestra, and

</p>
      </div>
    <br> <br>
</body>

<br>
<br>
<br>
<%- include('bootfooter') -%>
