<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 60%;
height: auto;
text-align: center;
}
body{
text-align : left;
}
a:link {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:visited
{
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}
</style>

    <div class="jumbotron" style="text-align: center">
    <img src="/images/runners.png">
      </div>
<body class="body">
  <p> Thank you for participating! Please review the following before signing up for an interview. By signing up for a podcast, or agreeing to be interviewed in a podcasts
    you are giving permission for your voice to be recorded and shared on the website. <br> Note: Coaches do not have to sign up.
    <br><br>
    <img src="/images/run.png">
    <h2>Requirements for Guests:</h2> <br> <h3>Podcasts about a Specific Meet (ex. Big Red Invitation 2018, Leagues Indoor 2020) : </h3>
   Have a decent memory of the meet. You must have attended the meet! I might ask you to recall your emotions, goals, or how your race went. You should be able to "bring something to the table." This could include (but is not limited to) a funny story, a crazy thing that happened, or a moment that impacted your life.
   <br><br>  <h3>Informative Podcasts (ex. Recruiting, Nutrition, Core):</h3> You must be knowledgeable in the topic.
  <br><br> <h3>Favorite/Poll Podcasts (ex. Favorite workout, Favorite race, Hardest Workout):</h3> You should have an answer to the prompt, along with the reason why it stands out.
<br><br>
<ul>
  For all podcasts:
   <li>Quiet Room/Space </li>
    <li> Microphone (internal or external)</li>
   <li>Headphones/Earbuds/AirPods​</li>
</ul>
    <h2>Expectations: </h2>Episode outlines will be sent at least 2 days in advance. Please take at least 7 minutes to review the episode outline, and thoughtfully prepare answers to questions. A link will also be sent to your email. Click on that link at least 5 minutes before the interview. This is to ensure that the podcasts start on time, because everyone must go through microphone checks. The interview can take up to 45 minutes, although they can run shorter.

    <br><br>

    <h2>During the Interview:</h2> This is a family-friendly podcast! Please refrain from cursing and mentioning mature topics.  Questions for the podcast will be submitted by the community and created by the host. Podcasts are recorded using the platform ZenCastr.
<br>

    <h3 style="text-align: center;">   <a href="https://www.signupgenius.com/go/9040a49aaac2cabf94-podcast" target="_blank">  Sign Up! </a></h3>
</body>

<br>
<br>
<br>
<%- include('bootfooter') -%>
