<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Runners</h1>
        <p>If you are a runner and you would like to participate in an episode, fill out the form below!</p>
    </div>


<%- include('bootfooter') -%>
