<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Runners</h1>
        <p>If you are a runner and you would like to participate in an episode, fill out the form below!</p>
    </div>
<body>
  <p> Dear Runner,
    <br>
    Thank you for showing interest in particpating in my podcast!
    I not only want to share my running experiences, but
    also share other runner's experiences. Please review 

<%- include('bootfooter') -%>
