<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 100%;
height: auto;
}
body{
text-align : left;
}
</style>

    <div class="jumbotron">
    <img src="/images/runners.png">
      </div>
<body class="body">
  <p>
Note: Coaches do not have to sign up. Thank you for participating! Please review the following before signing up!
   <h2> Restrictions: </h2>I ask that you do not sign up for more than 3 episodes per month, unless I have contacted you (those episodes do not count).
    <br><br>
    <h2>Requirements:</h2> <br> <h3>Podcast about a specific meet or preseason (ex. Big Red Invitation 2018, Leagues Indoor 2020) : </h3>
   Have a decent memory of the meet or preseason. You must have attended the meet or preseason! This includes what you felt, what you hoped for, what you did, and what happened. You should be able to "bring something to the table." This could include (but is not limited to) a funny story, a crazy thing that happened, a moment that impacted you life, or a moving moment.
   <br><br>  <h3>Informative podcast (ex. Recruiting, Nutrition, Core):</h3> You must be knowledgeable in the topic.
  <br><br> <h3>Favorite/Poll podcast (ex. Favorite workout, Favorite race, Hardest Workout):</h3> You should have an answer to the prompt, along with the reason why. In addition, have a back-up or second choice to avoid everyone stating the same thing.
<br><br>
<ul>
   <li>Quiet Room/Space </li>
    <li> Microphone (internal or external)</li>
   <li>Headphones/Earbuds/AirPods​</li>
   <br><br>
</ul>
    <h2>Expectations: </h2>Take at least 7 minutes to review the episode outline, and thoughtfully prepare answers to questions. Episode outlines will be sent at least 2 days in advance. A link will also be sent to your email. Click on the link that will be sent to your email at least 5 minutes early. This is to ensure that the podcasts start on time because everyone must go through microphone checks.

    <br><br>

    <h2>During the episode:</h2> This is a family-friendly podcast! Please refrain from cursing and mentioning mature topics. Any mention of mature content will be edited out. In addition, all words on the podcast should be spoken kindly. What to expect: A link, further instructions, and the episode outline will also be sent to your email. Episodes will be a maximum of 30 minutes. However, many of the episodes will be shorter in duration. Questions for the podcast will be submitted by the community and created by the host. Podcasts are recorded using the platform ZenCastr to record the episode.
    <br><br><br><br>

    <h3 style="text-align: center;">   <a href="https://www.signupgenius.com/go/9040a49aaac2cabf94-podcast">  Sign Up! </a></h3>
</body>

<br>
<br>
<br>
<%- include('bootfooter') -%>
