<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>Devlopers</h1>
        <p>For anyone who would like to work on the project,
           please view the requirements below. If you meet
           these requirements, please fill out the form below.</p>
    </div>
<ul>
<li>HTML</li>
<li>CSS</li>
<li>Javascript (ejs)</li>
<li>Github (will need to create account)</li>
<li>Terminal/Linux</li>
<li>Mongo</li>

<br>
<br>
<br>

    <form method="post" action="/processform">
      URL: <input type="text" id="url" name="url" value="add URL here"> <br>
      comments: <textarea id="theComments" name="theComments"></textarea>


      <input type="submit">
    </form>


<%- include('bootfooter') -%>
