<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
</style>

    <div class="jumbotron">
        <h1>General Suggestions</h1>
        <br>
        <br>
        <br>
        <p>Submit general suggestions such as ideas
        for new episodes, fun random things, and anything.</p>
    </div>
//views/Topic.ejs


<%- include('bootfooter') -%>
