<%- include('bootheader') -%>
<%- include('menubar') -%>

<meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
h1 {text-align: center;}
p {text-align: center;}
img{
  max-width: 100%;
height: auto;
}
</style>

<div class="jumbotron">
    <img src="/images/General.jpg">
</div>

<body class="body">
        <br>
        <br>
        <br>
        <p>Submit general suggestions such as ideas
        for new episodes, fun random things, and anything.</p>
</body>


<%- include('bootfooter') -%>
