<%- include('bootheader') -%>
<%- include('menubar') -%>
<style>
img{
  max-width: 100%;
height: auto;
}
body{
text-align: center;
}
</style>

    <div class="jumbotron">
    <img src="/images/website.png">
      </div>
<body class="body">
<p> In the summer of 2019, I attended the Brandeis App Design Camp. In 6th grade, I partipated in the
  Girls Who Code Program, which focused on block programming. I taught myself HTML and CSS
  the summer before 8th grade. During the Brandeis App Design Camp I learned the basics of Linux, Terminal, Javascript,
  Bootstrap, Node, Heroku, Github, and Mongo. My team and I created a website that aimed at serving the homeless people in Boston with
  information. We then went to Google to pitch the idea and tour the facility. Our website can be found here: <a target="_blank" href="http://immense-temple-97468.herokuapp.com/">HYELP.</a>
  I have used the knowledge I acquired from the camp to create this website!<br> <br>The Github repository for this progject can be found at: <a target="_blank" href="https://github.com/rinastanghellini/WPHSPodcast">https://github.com/rinastanghellini/WPHSPodcast</a>
</p>
</body>

<br>
<br>
<br>
<%- include('bootfooter') -%>
