h1 { font-family: "Arial Narrow",
Arial, sans-serif;
font-size: 10vw;
font-style: normal;
font-variant: normal;
font-weight: 700;
line-height: 100%;
width: 100%}

body{ font-family: "Arial Narrow",
Arial, sans-serif;
font-size: 5vw;
font-style: normal;
font-variant: normal;
font-weight: 100;
line-height: 26.4px; }

.jumbotron {
  background-color: #FF8C00;
}

#scroll{
  height: 1000px;
  overflow-y: scroll;
}

.navbar-brand{
  width: 100%;
  content="width=device-width";

}

.body{
  background-color: #C3DBC5;
}

panel-group{

    background-color: #C3DBC5;
}
